@page
@model eOfficeWeb.Pages.Admin.SocialCalendarEvents.EditModel
@{
}
<div class="container-fluid">
	<div class="row flex-nowrap">
		@*sidebar column starts*@
		<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
			<partial name="_SidebarPartial" />
		</div>
		@*sidebar column ends*@

		<div class="row justify-content-center col-auto col-md-9 col-xl-10">
			<div class="">
<form method="post">
	<input hidden asp-for="SocialCalendarEvents.Id" />
	<div class="p-3 mt-4">
		<div class="row pb-2">
						<h2 class="text-primary display-6 cursive-text-heading">Edit Social Calendar Event</h2>
            <hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="row">
			<div class="mb-3 col-12">
				<label asp-for="SocialCalendarEvents.Name"></label>
				<input asp-for="SocialCalendarEvents.Name" class="form-control" />
				<span asp-validation-for="SocialCalendarEvents.Name" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="SocialCalendarEvents.EventDate"></label>
				<input asp-for="SocialCalendarEvents.EventDate" type="date" class="form-control" />
				<span asp-validation-for="SocialCalendarEvents.EventDate" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="SocialCalendarEvents.EventType"></label>
				<input asp-for="SocialCalendarEvents.EventType" class="form-control" />
				<span asp-validation-for="SocialCalendarEvents.EventType" class="text-danger"></span>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		<a asp-page="Index" class="btn btn-outline-secondary"  style="width:150px;"> Back to List</a>
	</div>
	
</form>
</div>
</div>
</div>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}