@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}



@*eme logo*@
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 align-content-center">
        <img src="~/images/ic_eme.png" class="mx-auto d-block" />
    </div>
    <div class="col-md-4"></div>
</div>
<div class="text-center">
    <span class="display-4 ">Welcome to <span class="color-golden">eOffice</span></span>
    <p class="fs-6 fst-italic">A product of 619 EME Bn</p>
</div>


@*features of eOffice*@
<div class="container">
    <div class="row align-items-start">
    @*info card dak*@
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <span >
                        <i class=" fs-1 fa-solid fa-envelope-open-text icon-envelope"></i> <span class="fs-4 icon-envelope"> Dak Automation</span>
                </span>
                <p class="fs-5">
                    Automation of dak circulation in office. View and comment on the dak. Search old letters. Attach a draft reply to a dak.
                </p>
            </div>
        </div>
    </div>
    @*info card - todo list*@
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <span >
                        <i class="fs-1 fa-solid fa-clipboard-list icon-clipboard"></i> <span class="fs-4 icon-clipboard"> To Do List</span>
                </span>
                <p class="fs-5">
                    Do you often feel completely overwhelmed with the amount of work you’ve got to do? Have your personalised ToDo list which can help you increase productivity.
                </p>
            </div>
        </div>
    </div>
    @*info card tech library*@
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <span >
                    <i class="fs-1 fa-solid fa-book-open icon-book" ></i> <span class="fs-4 icon-book" > Tech Library</span>
                </span>
                <p class="fs-5">
                    Tech Library - under development. Access your all tech documents, EMERs, policies and books at one place. 
                </p>
            </div>
        </div>
    </div>
    @*info card - event calendar*@
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <span >
                        <i class="fs-1 fa-solid fa-calendar-days icon-calendar"></i> <span class="fs-4 icon-calendar"> Event Calendar</span>
                </span>
                <p class="fs-5">
                    Organise your events with the help of Event Calendar.
                </p>
            </div>
        </div>
    </div>
</div>
</div>

