@page
@model eOfficeWeb.Pages.Admin.UserAdministration.ResetPasswordByAdminModel
@{
}

<div class="container">

    <h1 class="display-4 text-center">Reset password</h1>
    <hr/>
    <h6>Resetting of user's password must be only done after user's request</h6>
    <hr />
    <div class="row">

        <div class="col-md-4 offset-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ResetPassword.UserId" hidden value="@Model.UserId"/>
                <div class="form-group">
                    <label asp-for="ResetPassword.NewPassword" class="control-label"></label>
                    <input asp-for="ResetPassword.NewPassword" class="form-control" />
                    <span asp-validation-for="ResetPassword.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ResetPassword.ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ResetPassword.ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ResetPassword.ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>