html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}



body {
    margin-bottom: 65px;
    font-size: .875rem;
    margin-top: 65px;
}

/* CSS classes for colored icons */


.icon-circle-check {
    color: crimson;
}



.icon-cake-candles {
    color: orangered;
}

.icon-list-check {
    color: darkgreen; /* specify your desired color here */
}

.icon-bullhorn {
    color: black; /* specify your desired color here */
}

/* CSS classes for the welcome message and other text attributes */
.text-black {
    color: black;
}


/* CSS classes for colored icons */
.icon-envelope {
    color: royalblue;
}

.icon-clipboard {
    color: darkgoldenrod;
}

.icon-book {
    color: firebrick;
}

.icon-calendar {
    color: cadetblue;
}

/* CSS classes for colored text */
.text-envelope {
    color: royalblue;
}

.text-clipboard {
    color: darkgoldenrod;
}

.text-book {
    color: firebrick;
}

.text-calendar {
    color: cadetblue;
}

.theme-golden {
    color: #ECAA81;
}

.icon-calendar {
    color: green;
}

.icon-chalkboard {
    color: black;
}

.icon-address-card {
    color: dodgerblue;
}

.icon-gear {
    color: red;
}
.icon-folder {
    color: #F8D775; /* primary color */
}




/*
 * Sidebar
 */
#sidebarMenu {
    margin-top: 65px;
    margin-bottom: 65px;
}
#rightBodyColumn {
    margin-left:auto;
}

/*fontawesome icons fonts*/
.fa-icon-innter-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}


/*for dashboard*/

.card-shadow-sm {
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-bg-lavenderblush {
    background-color: lavenderblush;
}

.border-radius-0 {
    border-radius: 0%;
}

.text-black {
    color: black;
}

.fs-5-custom {
    font-size: 1.25rem;
}

.fa-solid-color {
    color: blue;
}

.fa-solid-color-green {
    color: green;
}

.btn-text-black {
    color: black;
}

.fs-6-custom {
    font-size: 1rem;
}

.card-header-custom {
    color: deepskyblue;
    font-size: 1.25rem;
    font-weight: bold;
}

.bg-gradient-custom {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.fa-solid-thumbtack-color {
    color: deepskyblue;
}

.fa-solid-thumbtack-color-red {
    color: red;
}

.fa-solid-thumbtack-color-blue {
    color: deepskyblue;
}

.footer-custom {
    z-index: 101;
    background-color: white;
}

.icon-user-color {
    color: cadetblue;
}

.icon-power-off-color {
    color: red;
}

.icon-right-to-bracket-color {
    color: blue;
}

/*user management*/

.hidden {
    display: none;
}
.full-width {
    width: 100%;
}
.img-size {
    max-width: 55px;
}
.badge-success {
    color: forestgreen;
}

.badge-danger {
    color: red;
}
.word-wrap {
    word-wrap: break-word;
}

