html {
    font-size: 13px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

body {
    margin-bottom: 65px;
    font-size: .875rem;
    margin-top: 65px;
}

/* Common icon color classes */
.icon-circle-check,
.text-danger {
    color: crimson;
}

.icon-cake-candles {
    color: orangered;
}

.icon-list-check,
.icon-bullhorn,
.icon-chalkboard,
.fa-icon-innter-text,
.text-black,
.btn-text-black {
    color: black;
}

.icon-envelope,
.text-envelope {
    color: royalblue;
}

.icon-clipboard,
.text-clipboard {
    color: darkgoldenrod;
}

.icon-book,
.text-book {
    color: firebrick;
}

.icon-calendar,
.text-calendar {
    color: cadetblue;
}

.icon-address-card {
    color: dodgerblue;
}

.icon-gear {
    color: red;
}

.icon-folder,
.theme-golden {
    color: #F8D775; /* primary color */
}

.icon-dak-speak {
    color: blue;
}

.icon-dak-request-speak {
    color: green;
}

/* Sidebar styles */
#sidebarMenu {
    margin-top: 65px;
    margin-bottom: 65px;
}

#rightBodyColumn {
    margin-left: auto;
}

/* Dashboard styles */
.card-shadow-sm {
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-bg-lavenderblush {
    background-color: lavenderblush;
}

.border-radius-0 {
    border-radius: 0%;
}

.fs-5-custom {
    font-size: 1.25rem;
}

.fa-solid-color {
    color: blue;
}

.fa-solid-color-green {
    color: green;
}

.fs-6-custom {
    font-size: 1rem;
}

.card-header-custom {
    color: deepskyblue;
    font-size: 1.25rem;
    font-weight: bold;
}

.bg-gradient-custom {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.fa-solid-thumbtack-color {
    color: deepskyblue;
}

.fa-solid-thumbtack-color-red {
    color: red;
}

.footer-custom {
    z-index: 101;
    background-color: white;
}

.icon-user-color {
    color: cadetblue;
}

.icon-power-off-color {
    color: red;
}

.icon-right-to-bracket-color {
    color: blue;
}

/* User management styles */
.hidden {
    display: none;
}

.full-width {
    width: 100%;
}

.img-size {
    max-width: 55px;
}

.badge-success {
    color: forestgreen;
}

.badge-danger {
    color: red;
}

.word-wrap {
    word-wrap: break-word;
}

.red-bold {
    color: red;
    font-weight: bold;
}

.red-border {
    border: 1px solid red;
}

/* To-do list styles */
.task-controls {
    float: right;
}

.add-btn {
    width: 100px;
}
